openapi: 3.1.0
info:
  title: ThreatCrush Public API
  version: 0.2.0
  description: |
    Public, read-only endpoints for ThreatCrush — module marketplace,
    blog feed, and health. Authenticated endpoints are not documented
    here and require a signed-in session via the web app.
  contact:
    name: ThreatCrush
    email: hello@threatcrush.com
    url: https://threatcrush.com
  license:
    name: MIT
    url: https://github.com/profullstack/threatcrush/blob/master/LICENSE

servers:
  - url: https://threatcrush.com
    description: Production

paths:
  /api/health:
    get:
      summary: Health check
      operationId: health
      responses:
        '200':
          description: Service is up
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean

  /api/modules:
    get:
      summary: List published marketplace modules
      operationId: listModules
      parameters:
        - in: query
          name: page
          schema: { type: integer, default: 1 }
        - in: query
          name: limit
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: Paginated list of modules
          content:
            application/json:
              schema:
                type: object
                properties:
                  modules:
                    type: array
                    items: { $ref: '#/components/schemas/Module' }
                  total: { type: integer }
                  page: { type: integer }
                  limit: { type: integer }
                  totalPages: { type: integer }

  /api/modules/{slug}:
    get:
      summary: Fetch a single module by slug
      operationId: getModule
      parameters:
        - in: path
          name: slug
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Module details
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Module' }
        '404':
          description: Not found

  /blog/rss.xml:
    get:
      summary: Blog RSS feed
      operationId: blogRss
      responses:
        '200':
          description: RSS 2.0 feed
          content:
            application/rss+xml: {}

  /sitemap.xml:
    get:
      summary: Sitemap
      operationId: sitemap
      responses:
        '200':
          description: XML sitemap including all blog posts
          content:
            application/xml: {}

components:
  schemas:
    Module:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        slug: { type: string }
        display_name: { type: string }
        description: { type: string, nullable: true }
        author_name: { type: string, nullable: true }
        category: { type: string, nullable: true }
        tags:
          type: array
          items: { type: string }
        version: { type: string }
        pricing_type:
          type: string
          enum: [free, paid, freemium]
        price_usd: { type: number, nullable: true }
        downloads: { type: integer }
        rating_avg: { type: number }
        rating_count: { type: integer }
        verified: { type: boolean }
        featured: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
